# ignore generated artefacts
bin
doc

# Ignore VSCode settings
.vscode/settings.json

##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*